@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

#img_prev {
    height: 100px;
    width: 100px;
}

.new-img{
  width: 400px;
  object-fit: cover;
}

.card review-card {
  margin: 0 auto 60px;
  max-width: 376px;
  height: 370px;
}
.card-text {
  text-align: left;
}

.review-tag {
  display: table;
}