@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

body{
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffe0;
  background-image: url('shopping_48px (1).png');
  // background-position: center center;
  // background-repeat: repeat;
  // background-size: cover;
  // background-attachment: fixed;
}

.page-title {
  display:inline-flex;
  background-color: white;
  border: 6px inset #009b9f;
}

#img_prev {
    height: 100px;
    width: 100px;
}

.new-img{
  width: 400px;
  object-fit: cover;
}

.card review-card {
  margin: 0 auto 60px;
  max-width: 376px;
  height: 370px;
}
.card-text {
  text-align: left;
  min-height: 160px;
}

.review-tag {
  display: table;
}

.card-deck .col-sm-4{
  padding-top: 15px;
  padding-bottom: 15px;
}

.input-group {
  width: 100%;
  padding: 0;
  margin: 0 0 0 10em;
  .input-group-btn {
    width: auto;
  }
}

.img-container{
  height: 30vh;
  // position: relative;
  // width: 300px;
  // height: 300px;
  // border: 1px solid black;
  border-top: solid #DCDCDC;
  border-bottom: solid #DCDCDC;
  background-color: #DCDCDC;
}

.img_show{
  object-fit: contain;
  // position: absolute;
  width: 100%;
  height: 100%;
}

.comment_index{
  height: 300px;
}

// div.text-card-container {
//   padding-left: 9px;
//   padding-right: 9px;
//   margin-bottom: 50px;
// }

// div.content-card {
//   height: 350px;
//   max-width: 360px;
//   margin: 0 auto;
// }

.card, .index {
  margin: 0 auto 40px;
  max-width: 376px;
  height: 290px;
}
.card-body p {
  text-align: left;
}

.card-header{
  padding: 0 10px 0 10px;
}

.comment_table{
}

.com{
  width: 235px;
  word-wrap: break-word;
}

.com_body{
  background-color: white;
  display: block;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 600px;
}