<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <%= render 'info', user: current_user %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h3 class="page-title"><%= "#{@user.name}" + "ãŒã„ã„ã­ðŸ‘ã—ãŸæŠ•ç¨¿ä¸€è¦§" %></h3>
      <%= render 'public/reviews/sort' %>
      <%= render 'public/reviews/review_index', reviews:@reviews %>
    </div>
  </div>
</div>