<% if obj.errors.any? %>
  <div id="error_explanation">
    <h4 id="error_title"><%= pluralize(obj.errors.count, "error") %> ：保存に失敗しました。</h3>
    <ul class="error_list">
      <% obj.errors.full_messages.each do |message| %>
        <li class="error_list"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
