<form>
  <div class="input-group">
    <%= form_with url: tag_search_path,:method => 'get' do |f| %>
      <%= f.text_field :wold,:placeholder => "キーワードで検索", class: "form-control" %>
      <span class="input-group-btn">
        <%= button_tag type: "submit", class: "btn btn-primary" do %>
          <i class="fas fa-search"></i>検索
        <% end %>
      </span>
    <% end %>
  </div>
</form>